@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --grayish-red: hsl(0, 6%, 24%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--desaturated-red);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
}

img {
  display: block;
}

.container {
  display: flex;
  width: min(100%, 1440px);
  margin: auto;
  position: relative;
}

.main-content {
  background-image: url("../images/bg-pattern-desktop.svg"),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 21.5rem 0.5rem 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-bottom: 13.5rem;
}

.image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100vh;
}

.image {
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 6.1rem;
  letter-spacing: 0.325em;
  line-height: 1.1;
  width: 36rem;
  margin-bottom: 2rem;
}

.emphasis {
  color: var(--grayish-red);
  font-weight: 600;
  line-height: 1.15;
}

.paragraph {
  width: 45rem;
  line-height: 1.7;
  letter-spacing: 0.005em;
  margin-bottom: 4rem;
}

form {
  width: min(100%, 45rem);
  margin-inline: auto;
}

.form-content {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(0, 6%, 24%, 0.2);
  border-radius: 50px;
}

input {
  font-family: inherit;
  padding: 1.5rem 3rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  width: 100%;
  color: var(--grayish-red);
}

::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

.icon {
  opacity: 0;
}

.error-message {
  color: var(--soft-red);
  padding: 0.8rem 0 0 2.4rem;
  font-size: 1.2rem;
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 50px;
  width: 10rem;
  padding: 1.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Footer Section */
footer {
  margin-top: 14rem;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: var(--grayish-red);
}

.attribution a:hover {
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1240px) {
  .main-content {
    padding: 0;
    margin: 0 auto;
  }

  .image-wrapper {
    display: block;
    position: static;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .logo {
    margin: 3.5rem 3rem;
  }

  .logo {
    padding: 0;
  }

  .title,
  .paragraph {
    text-align: center;
  }

  .title {
    margin: 6.75rem auto 2.75rem;
    padding-top: 2rem;
    font-size: 4rem;
    width: auto;
  }

  .paragraph {
    width: min(95%, 30rem);
    margin: 0 auto 4rem;
    padding-bottom: 0.75rem;
    font-size: 1.4rem;
  }

  form {
    width: min(85%, 45rem);
  }

  .form-content {
    width: auto;
  }

  input {
    padding: 1rem 1.5rem;
  }

  button {
    width: 70px;
  }

  .error-message {
    text-align: center;
    padding: 0.5rem 1.5rem;
  }

  footer {
    padding: 0;
    position: static;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .form-content {
    padding: 0;
    display: block;
    border: none;
    border-radius: 0;
  }

  input {
    border: 1px solid hsla(0, 6%, 24%, 0.2);
    padding: 1.75rem 1.5rem;
    width: 100%;
    border-radius: 50px;
  }

  button {
    width: 100%;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  .title {
    font-size: 2rem;
  }
}
